{% extends 'base.html' %}


{% block content %}
<center>
    <h1>Error: La Pagina no se ha encontrado :(</h1>
    <a href="/"><button id="buttonpage" type="button" class="btn btn-primary"
            style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Inicio</button></a>
    <a href="/"><button id="buttonpage" type="button" class="btn btn-primary"
            style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Crear Nueva URL</button></a>
</center>
{% endblock content %}